.site-header {
  background: linear-gradient(
    135deg,
    #2A3288 0,
    #2A3288 calc(35% - 8px),
    #B8D134 calc(35% - 8px),
    #B8D134 calc(35% + 8px),
    #ffffff calc(35% + 8px),
    #ffffff 100%
  );
}

.s-nav>li>a{position:relative;height:auto}
.s-nav>li>a::after{content:"";position:absolute;left:0;bottom:0;width:0;height:2px;background-color:var(--s-color-1);transition:width .3s ease}
.s-nav>li>a:hover::after{width:100%}

.nav-panel{background-color:var(--s-color-2);}
