@import 'var';
@import 'global';

// GENERAL
body,
.site-page {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}
h1 {
  margin-top: 0.5rem;
}
a {
  color: var(--s-color-1);
  &:hover {
    color: var(--s-color-2);
  }
  &:active {
    opacity: 0.6;
  }
}
.s-container {
  padding: 0 var(--s-gap);
}

// HEADER
.site-header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 900;
  font-family: var(--s-heading);
  height: var(--s-head-height);
  background: var(--s-head-bg);
  color: var(--s-head-text);
  --s-text-1: var(--s-head-text);
  transition: 0.4s ease-in-out;
  .s-container {
    display: flex;
    align-items: center;
    height: var(--s-head-height);
  }
  li a,
  .site-cart,
  .site-member {
    color: var(--s-head-text);
    &:hover {
      color: var(--s-head-hover);
    }
  }
  &-space {
    min-height: var(--s-head-height);
  }
}
.site-branding {
  a {
    color: var(--s-head-text);
    &:hover {
      color: var(--s-head-hover);
    }
  }
}
body.modal-active.-search .site-header {
  background: var(--s-head-bg);
}
.custom-logo-link {
  align-items: center;
  display: flex;
}
.site-branding {
  display: flex;
  gap: 10px;
  align-items: center;
  transition: 0.4s;
  img,
  svg {
    min-height: 10px;
    width: auto;
    max-width: unset;
  }
  &.-center {
    margin: 0 auto;
  }
}
.site-title {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.25;
  font-weight: var(--s-heading-weight);
}
.site-logo {
  * {
    display: flex;
  }
}
.nav-toggle {
  height: 2.75em;
  width: 2.75em;
  padding: 16px;
  cursor: pointer;
  margin: 0 -10px;
  position: relative;
  em {
    top: 50%;
    margin-top: -1px;
    z-index: 1;
    &,
    &:before,
    &:after {
      pointer-events: none;
      display: block;
      content: '';
      border-radius: 2px;
      background-color: var(--s-head-text);
      height: 0.125em;
      position: absolute;
      transform: rotate(0);
      transition: top 0.3s 0.15s, left 0.1s, background-color 0.3s 0.2s,
        transform 0.2s;
      left: 0;
      right: 0;
    }
    &:before {
      // Line: 1 (Relative to line 2)
      top: -0.5em;
    }
    & {
      // Line: 2
      left: 0.6em;
      right: 0.6em;
    }
    &:after {
      // Line: 3 (Relative to line 2)
      top: 0.5em;
    }
  }
  &.active {
    em {
      background-color: transparent;
      &,
      &:after,
      &:before {
        transition: top 0.2s, left 0.2s, background-color 0.2s,
          transform 0.2s 0.15s;
      }
      &:before,
      &:after {
        left: 0;
        top: 0;
        right: 0;
        background-color: var(--s-nav-text);
      }
      &:before {
        transform: rotate(-45deg);
      }
      &:after {
        transform: rotate(45deg);
      }
    }
  }
}
.nav-close {
  display: none;
  position: fixed;
  top: 10px;
  left: 16px;
}

.nav-panel.-right {
  .nav-close {
    left: unset;
    right: 16px;
  }
}

.nav-panel.active {
  .nav-close {
    display: block;
  }
}
.nav-panel {
  position: fixed;
  z-index: 8000;
  opacity: 0;
  left: -60px;
  top: 0;
  bottom: 0;
  width: 0;
  transition: opacity 0.3s, left 0.4s, width 0.4s;
  overflow-x: hidden;
  padding-top: 70px;
  height: 100vh;
  background-color: var(--s-nav-bg);
  color: var(--s-nav-text);
  &.active {
    width: var(--s-nav-width);
    left: 0;
    opacity: 1;
    box-shadow: var(--s-shadow-2);
  }
  &.-right {
    right: -60px;
    left: unset;
    &.active {
      left: unset;
      right: 0;
    }
  }
  ul {
    padding: 0 20px;
    ul {
      padding: 0;
      font-size: 0.9em;
      font-weight: normal;
      li {
        border-bottom: none;
      }
    }
  }
  li {
    list-style: none;
    width: calc(var(--s-nav-width) - 30px);
    display: block;
    position: relative;
    &.active > .i-down {
      transform: scaleY(-1);
      opacity: 0.6;
    }
    &.active > .sub-menu {
      max-height: 300vh;
      padding: 4px 0 12px;
      opacity: 1;
      transition: 0.6s ease-in-out;
      overflow: visible;
    }
    a {
      display: block;
      color: var(--s-nav-text);
      padding: 8px 0;
      &:hover {
        color: var(--s-nav-hover);
      }
    }
  }
  .menu-item-has-children {
    > a {
      padding-right: 44px;
    }
  }
  .sub-menu {
    max-height: 0;
    opacity: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
    transition: 0.4s ease-out;
  }
  .i-down {
    position: absolute;
    z-index: 100;
    right: -6px;
    top: 0;
    padding: 6px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    * {
      pointer-events: none;
    }
  }
}
.site-action {
  position: absolute;
  z-index: 9000;
  display: flex;
  align-items: center;
  gap: 12px;
  @media (max-width: $tablet_max) {
    &.-left {
      left: var(--s-space);
    }
    &.-right {
      right: var(--s-space);
    }
  }
}
.search-toggle-icon {
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
  &::before {
    content: '';
    width: 2px;
    height: 35%;
    background-color: var(--s-head-text);
    position: absolute;
    left: 72%;
    top: 72%;
    transform: translate(-50%, -50%) rotate(-45deg);
    transition: 0.4s;
    border-radius: 2px;
  }
  &::after {
    content: '';
    position: absolute;
    width: 60%;
    height: 60%;
    border: 0.125em solid var(--s-head-text);
    border-radius: 50%;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%) rotate(0deg);
    transition: width 0.3s;
  }
  &.close {
    &::before {
      height: 80%;
      left: 50%;
      top: 50%;
    }
    &::after {
      border-radius: 2px;
      border-width: 1px;
      background-color: var(--s-head-text);
      width: 2px;
      overflow: hidden;
      height: 80%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      transition: background 0.3s, width 0.1s;
    }
  }
}
.search-panel {
  max-height: 0;
  z-index: 890;
  left: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  background-color: var(--s-head-bg);
  position: fixed;
  opacity: 0;
  top: var(--s-head-height);
  transition: 0.3s ease-in-out;
  &.active {
    opacity: 1;
    padding: var(--s-space) 0;
    max-height: 900px;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.modal-active {
  overflow: hidden;
  .site-header {
    position: fixed;
  }
  /* .site-content:after */
  .site-modal-bg {
    content: '';
    display: block;
    position: fixed;
    backdrop-filter: blur(6px);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.5;
    z-index: 910;
    animation: fadeIn 0.3s forwards;
  }
  &.-search {
    /* .site-content:after */
    .site-modal-bg {
      z-index: 800;
    }
  }
}
.site-cart {
  svg {
    display: block;
  }
}
.search-form {
  max-width: 480px;
  margin: 0 auto;
}
#s {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--s-head-text);
  color: var(--s-head-text);
  font-size: 18px;
  padding: 6px;
  background: none;
  &::placeholder {
    color: var(--s-head-text);
    opacity: 0.6;
  }
}
.site-member {
  display: block;
  img {
    width: 32px;
    height: 32px;
    min-width: 32px;
    border-radius: 50%;
    display: block;
  }
  svg {
    display: block;
  }
  .label {
    display: none;
  }
}
// BODY
.site-main {
  margin: 0 auto;
  max-width: var(--s-content-width);
  &.-wide {
    --s-content-width: var(--s-containter-width);
  }
}
.ancestor-title {
  margin: var(--s-gap) 0;
  text-align: center;
}
// SIDEBAR
.site-sidebar {
  margin-bottom: calc(2 * var(--s-gap));
  .widget {
    background-color: var(--s-bg-2);
    border-radius: var(--s-rounded-2);
    padding: var(--s-gap);
    margin-bottom: var(--s-space);
  }
  ul {
    margin-bottom: 0;
    padding-left: 0;
  }
  li {
    list-style: none;
    margin-bottom: 0.375em;
  }
}

// ARCHIVE
.s-grid {
  display: grid;
  grid-gap: var(--s-space);
  margin-bottom: var(--s-space);
  &.-m2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  &.-m3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  &::before,
  &::after {
    display: none;
  }
  @media (min-width: 720px) and (max-width: 1023px) {
    &.-t2 {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    &.-t3 {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    &.-t4 {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
}
.s-content {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  &:hover {
    h2 a {
      color: var(--s-color-1);
    }
    .entry-pic {
      img {
        transform: scale(1.04);
      }
    }
  }
}
.entry-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 1rem;
  > div:last-child {
    margin-top: auto;
  }
}

.entry-title {
  font-size: 1.25em;
  margin-bottom: 0;
  a {
    color: var(--s-text-1);
    &:hover {
      color: var(--s-color-1);
    }
  }
}
.entry-pic {
  position: relative;
  padding-top: 52.5%; // OG SIZE 1200x630
  height: 0;
  border-radius: var(--s-rounded-2);
  background-color: var(--s-bg-2);
  a {
    display: block;
    color: #fff;
  }
  img {
    position: absolute;
    border-radius: var(--s-rounded-2);
    object-fit: cover;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in-out;
  }
  .posted-cat {
    position: absolute;
    top: 5px;
    left: 5px;
    max-width: calc(100% - 10px);
    font-size: 0.875rem;
    z-index: 1;

    a {
      color: #fff;
      background-color: var(--s-color-1);
      border-radius: var(--s-rounded-1);
      padding: 0.3em 0.4em;
    }
  }
}
.posted-cat {
  line-height: 1.2;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  &.-button {
    font-size: 0.875rem;
    a {
      color: #fff;
      background-color: var(--s-color-1);
      border-radius: var(--s-rounded-1);
      padding: 0.3em 0.4em;
    }
  }
  &.-pill {
    font-size: 0.875rem;
    a {
      color: #fff;
      background-color: var(--s-color-1);
      border-radius: 100px;
      padding: 0.3em 0.9em;
    }
  }
}
.posted-on {
  font-size: 0.8rem;
  color: var(--s-text-2);
}
.entry-author {
  font-size: 0.8rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
  color: var(--s-text-2);
  a {
    color: var(--s-text-2);
    &:hover {
      color: var(--s-color-1);
    }
  }
  img {
    border-radius: 100px;
    margin: 4px 0;
  }
}
.by_date {
  padding: 0 4px;
  span {
    display: block;
    line-height: 1.3;
  }
}
.entry-excerpt {
  font-size: 0.9375em;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 0;
  p {
    display: inline;
  }
}
.s-paging {
  display: flex;
  margin-bottom: var(--s-space);
  font-weight: bold;
  span,
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 36px;
    height: 36px;
  }
  .current {
    background-color: var(--s-bg-2);
    border-radius: 36px;
  }
}
.entry-more {
  margin-top: auto;
  padding-top: 4px;
}

// AUTHOR
.single-author,
.header-author {
  text-align: center;
  margin: 0 auto var(--s-space);
  max-width: 600px;
}
.author-pic {
  padding: 1em 0 0.5em;
  img {
    border-radius: 200px;
    object-fit: cover;
  }
}
// CONTENT OVERLAP
.entry-info-overlap {
  position: relative;
  margin: -40px 15px 0;
  padding: 12px;
  background-color: var(--s-bg-1);
  border-radius: var(--s-rounded-2);
  > div:last-child {
    margin-top: unset;
  }
}
// CONTENT SEARCH
.s-content-search {
  display: flex;
  gap: 1rem;
  align-items: center;
  .entry-pic {
    min-width: 100px;
    padding-top: 100px;
    margin-left: auto;
    background: none;
  }
}
// CONTENT CARD
.s-content-card {
  box-shadow: var(--s-shadow-1);
  background-color: var(--s-bg-1);
  border-radius: var(--s-rounded-2);
  overflow: hidden;
  gap: 0;
  transition: 0.3s;
  &:hover {
    box-shadow: var(--s-shadow-2);
  }
}
.entry-pic-card {
  border-radius: 0;
  overflow: hidden;
  img {
    border-radius: 0;
  }
}
.entry-info-card {
  padding: var(--s-gap);
}
.btn-readmore {
  font-size: 0.9em;
  display: inline-flex;
  width: max-content;
  align-items: center;
  gap: 6px;
  &.-button {
    padding: 0.4em 0.8em;
    border-radius: var(--s-rounded-1);
    background-color: var(--s-color-1);
    color: #fff;
    &:hover {
      color: #fff;
      background-color: var(--s-color-2);
    }
  }
  &.-pill {
    padding: 0.4em 1.2em;
    border-radius: 100px;
    background-color: var(--s-color-1);
    color: #fff;
    &:hover {
      color: #fff;
      background-color: var(--s-color-2);
    }
  }
  &.-text {
    color: var(--s-text-1);
    &:hover {
      color: var(--s-color-1);
    }
  }
  &.-underline {
    color: var(--s-text-1);
    text-decoration: underline;
    text-underline-offset: 0.2em;
    &:hover {
      color: var(--s-color-1);
    }
  }
  svg {
    margin-right: -4px;
  }
}
// CONTENT LIST
.s-content-list {
  display: flex;
  flex-direction: row;
  box-shadow: var(--s-shadow-1);
  background-color: var(--s-bg-1);
  border-radius: var(--s-rounded-2);
  overflow: hidden;
  gap: 0;
}
.entry-pic-list {
  min-width: 40%;
  padding-top: 0 !important;
  height: 100%;
  border-radius: 0;
  overflow: hidden;
  img {
    border-radius: 0;
  }
}
.entry-info-list {
  padding: var(--s-gap);
}

// CONTENT CAPTION
.s-content-caption {
  position: relative;
  overflow: hidden;
  --s-text-1: #fff;
  --s-text-2: rgba(255, 255, 255, 0.7);
  .-text {
    --s-color-1: #fff;
  }
}
.entry-pic-caption {
  background-color: #000;
  img {
    opacity: 0.6;
  }
}
.entry-info-caption {
  position: absolute;
  padding-bottom: 0;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  color: #fff;
  h2 {
    --s-color-1: #fff;
  }
}

// CONTENT HEADLINE
.s-content-headline {
  position: relative;
  overflow: hidden;
  --s-text-1: #fff;
  --s-text-2: rgba(255, 255, 255, 0.7);
  .posted-cat {
    justify-content: center;
    margin: 0 auto 6px;
  }
  a {
    color: #fff;
  }
}
.entry-pic-headline {
  background-color: #000;
  img {
    opacity: 0.6;
  }
}
.entry-info-headline {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  width: calc(100% - 100px);
  max-width: 720px;
  > div {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
  }
  .title {
    margin: 0;
    font-size: 1.75em;
    --s-color-1: #fff;
  }
  .sub {
    margin-bottom: 4px;
  }
  .entry-author {
    margin-left: auto;
    margin-right: auto;
    &.-avatar,
    &.-avatar_date {
      flex-direction: column;
    }
  }
}

// CONTENT HERO
.s-content-hero {
  background-color: var(--s-bg-2);
  gap: 0;
  @media (max-width: 1023px) {
    --s-rounded-2: 0;
  }
}
.entry-pic-hero {
  overflow: hidden;
}
.entry-info-hero {
  padding: var(--s-space);
}

// CONTENT DATE
.s-content-date {
  display: flex;
  align-items: center;
  color: var(--s-text-1);
  .calendar {
    min-width: 60px;
    width: 60px;
    height: 60px;
    border: 2px solid var(--s-color-6);
    border-radius: 5px;
    position: relative;
    background-color: #fff;
    overflow: hidden;
  }
  .date {
    text-align: center;
    font-size: 24px;
    line-height: 38px;
    height: 38px;
    color: var(--s-color-6);
  }
  .month {
    height: 18px;
    background-color: var(--s-color-6);
    font-size: 11px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
  }
  .info {
    padding-left: calc(var(--s-space) / 2);
  }
  .entry-title {
    font-size: 1.125em;
    margin: 0;
  }
}

// PAGE
.page-banner {
  position: relative;
  overflow: hidden;
  background-color: #000;
  min-height: 240px;
  padding: var(--s-space);
  margin-bottom: var(--s-space);
  display: flex;
  align-items: center;
  justify-content: center;
  > img {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
  }
  > div,
  h1 {
    position: relative;
    z-index: 2;
    margin: 0;
    color: #fff;
  }
}
.page-content {
  margin-bottom: var(--s-space);
  body.home & {
    margin-bottom: 0;
  }
}

// SINGLE
.single-cat {
  transform: translateY(-50%);
  margin-bottom: var(--s-gap);
  .posted-cat {
    justify-content: center;
  }
  a {
    padding: 0.4em 0.8em;
    font-size: 1rem;
    color: #fff;
    background-color: var(--s-color-1);
    border-radius: var(--s-rounded-1);
    padding: 0.3em 0.4em;
  }
}
.single-pic {
  line-height: 0;
  min-height: 24px;
  img {
    object-fit: cover;
    width: 100%;
    height: auto;
  }
}
.single-content {
  font-size: 1.0625rem;
  line-height: 1.8;
  margin-bottom: var(--s-space);
  @media (min-width: 720px) and (max-width: 1024px) {
    padding: 0 20px;
  }
}
.single-meta {
  margin-bottom: var(--s-space);
  font-size: 0.9em;
  .seed-stat {
    margin-left: 10px;
    font-size: 0.8rem;
    color: var(--s-text-2);
  }
}
.single_cats {
  color: var(--s-text-2);
  border: 1px solid var(--s-border-2);
  border-left: none;
  border-right: none;
  padding: var(--s-gap) 0;
  margin: var(--s-space) 0;
  a {
    color: var(--s-text-2);
    &:hover {
      color: var(--s-color-1);
    }
  }
}
.single_tags {
  margin: var(--s-space) 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  a {
    color: var(--s-text-2);
    border: 1px solid var(--s-text-2);
    display: inline-block;
    padding: 0.2em 0.8em;
    line-height: 1.3;
    border-radius: 60px;
    &:hover {
      color: var(--s-color-1);
      border-color: var(--s-color-1);
    }
  }
}
.single-related {
  .s-grid {
    margin-bottom: 0;
  }
}
.s-title-headline {
  --s-rounded-2: 0;
  .entry-pic {
    padding-top: 320px;
  }
}
.s-title-hero {
  &:hover {
    .entry-pic {
      img {
        transform: none;
      }
    }
  }
  h1 {
    margin: 0;
  }
}
.single {
  @media (max-width: $tablet_max) {
    .site-sidebar {
      margin-top: var(--s-gap);
    }
  }
}

// COMMENTS
.comments-area {
  background-color: var(--s-bg-2);
  padding: var(--s-space);
  margin: var(--s-space) 0;
  textarea,
  input:not([type='submit']) {
    background-color: var(--s-bg-1);
  }
  textarea {
    width: 100%;
  }
}
.comment-form-cookies-consent {
  display: flex;
  gap: 0.5rem;
  align-items: flex-start;
  input {
    margin-top: 3px;
  }
  label {
    margin: 0;
    cursor: pointer;
  }
}
.form-submit {
  margin: 0;
  font-size: 1.125em;
}

// SHORTCODE
.s_social {
  display: inline-flex;
  gap: 8px;
  svg {
    display: block;
    height: auto;
    fill: currentColor;
  }
  path {
    fill: currentColor;
  }
}

// FOOTER
.site-footer {
  margin-top: auto;
  font-size: 0.9em;
}
.footer-bar {
  background-color: var(--s-bg-2);
  color: var(--s-text-1);
  font-size: 0.8em;
  padding: 16px 0;
  text-transform: uppercase;
  text-align: center;
  a {
    color: var(--s-text-1);
    &:hover {
      color: var(--s-color-1);
    }
  }
}

.s-menu {
  margin-bottom: 10px;
  h2,
  h3 {
    font-size: 1.125em;
    margin-bottom: 0;
  }
  .menu {
    padding: 10px 0;
    margin-bottom: 0;
    li {
      list-style: none;
    }
  }
  @media (max-width: $tablet_max) {
    h2,
    .s-menu-title {
      border-bottom: 1px solid;
      padding-bottom: 10px;
      position: relative;
      cursor: pointer;
      &::after {
        content: '+';
        font-weight: normal;
        font-size: 20px;
        line-height: 1;
        font-family: monospace;
        display: block;
        position: absolute;
        height: 20px;
        top: 0;
        right: 0;
        transition: transform 0.3s ease;
      }
    }
    .menu {
      opacity: 0;
      height: 0;
      overflow: hidden;
      margin: 0;
      padding: 0;
    }
    &.active {
      h2,
      .s-menu-title {
        border-bottom-style: dashed;
      }
      .menu {
        opacity: 1;
        height: auto;
        padding: 10px 0;
        transition: opacity 0.3s ease, padding 0.3s ease;
        border-bottom: 1px solid;
      }
      h2,
      h3 {
        &::after {
          transform: rotate(45deg) scale(1.08);
        }
      }
    }
  }
}

/* S-CHAT */
body {
  --s-chat-bottom: 24px;
  &.woocommerce,
  &.woocommerce-page {
    --s-chat-bottom: 48px;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    bottom: calc(var(--s-chat-bottom) - 14px);
  }
  100% {
    opacity: 1;
    bottom: var(--s-chat-bottom);
  }
}
#s-chat {
  position: fixed;
  bottom: var(--s-chat-bottom);
  right: 24px;
  z-index: 99999;
  color: #fff;
  background-color: var(--s-accent);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px 0px;
  cursor: pointer;
  animation: fadeIn ease 1s;
  &:hover {
    .c-desc {
      opacity: 1;
      visibility: unset;
    }
  }
  svg {
    pointer-events: none;
    transition: 0.4s ease;
  }
  span {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 1;
    line-height: 0;
    svg {
      width: 36px;
      height: 36px;
    }
  }
  &.-desc {
    .c-desc {
      right: calc(100% + 18px);
      opacity: 1;
      visibility: visible;
    }
  }
  &.active {
    > svg {
      opacity: 0;
      transform: rotate(270deg);
    }
    > span {
      opacity: 1;
    }
  }
}
.c-tip {
  position: relative;
  cursor: pointer;
  &:hover {
    .c-desc {
      right: calc(100% + 18px);
      opacity: 1;
      visibility: visible;
    }
  }
  > a > img {
    border-radius: 60px;
    width: 60px;
    height: 60px;
    object-fit: cover;
  }
}
.c-desc {
  opacity: 0;
  position: absolute;
  visibility: hidden;
  transition: 0.3s;
  padding: 6px 10px;
  border-radius: 3px;
  font-size: 15px;
  z-index: 99990;
  font-size: 15px;
  right: calc(100% + 10px);
  top: 50%;
  transform: translateY(-50%);
  color: #222;
  background-color: #fff;
  white-space: nowrap;
  font-family: var(--s-heading);
  font-weight: var(--s-heading-weight);
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.2));
  &:after {
    content: '';
    position: absolute;
    right: -5px;
    top: calc(50% - 5px);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent #fff;
  }
}
#s-chat-panel {
  position: fixed;
  bottom: calc(56px + var(--s-chat-bottom));
  right: 24px;
  z-index: 99999;
  transition: 0.4s ease;
  padding: 0;
  margin: 0;
  height: 0;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  li {
    list-style: none;
    height: 0;
    transition: 0.5s ease;
    overflow: hidden;
  }
  &.active {
    bottom: calc(66px + var(--s-chat-bottom));
    visibility: visible;
    height: auto;
    opacity: 1;
    overflow: visible;
    max-height: 490px;
    li {
      height: 70px;
      overflow: visible;
    }
  }
  svg {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px 0px;
  }
  .fb_dialog {
    background: none;
    position: static;
  }
  .fb_dialog_content > iframe {
    right: 0 !important;
    margin: 0 !important;
    position: absolute !important;
    bottom: 10px !important;
  }
  .fb-customerchat > span > iframe {
    position: static !important;
  }
  &.active {
    .fb-customerchat > span > iframe {
      position: fixed !important;
    }
  }
}
// ELEMENTOR
.s-container [data-elementor-type='wp-page'] {
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  max-width: 100vw;
}
