@import 'var';
@import 'woo/ini';
@import 'woo/icons';
@import 'woo/blocks';
@import 'woo/plugins';
mark {
  background: #fff3a7;
  padding: 0.1em 0.4em;
  border-radius: var(--s-rounded-1);
}
.wp-element-button {
  color: var(--s-text-1);
  background: var(--s-border-2);
  border: none;
  padding: 0.5em 0.8em 0.4em;
  cursor: pointer;
  font-family: var(--s-heading);
  font-weight: var(--s-heading-weight);
  text-align: center;
  line-height: 1.3;
  border-radius: var(--s-rounded-1);
  transition: 0.3s;
  display: inline-block;

  &:hover {
    color: var(--s-bg-1);
    background: var(--s-color-1);
  }
  &.alt {
    color: #fff;
    background: var(--s-color-1);
    &:hover {
      background: var(--s-color-2);
    }
  }
  &.loading {
    opacity: 0.25;
    &:after {
      font-family: WooCommerce;
      content: '';
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
      margin-left: 0.5em;
      display: inline-block;
      width: auto;
      height: auto;
    }
  }
  &.added:after {
    font-family: WooCommerce;
    content: '';
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
    height: auto;
  }
  &:active {
    opacity: 0.6;
  }
  &.disabled {
    background-color: var(--s-text-2);
  }
}
.product_title {
  margin: 0 0 3px;
  text-align: left;
}
.price {
  font-size: 1.25em;
  margin-bottom: 10px;
  position: relative;
  font-family: var(--s-heading);
  color: var(--s-color-1);
  ins {
    text-decoration: none;
    padding-bottom: 20px;
    display: inline-block;
  }
  del {
    font-size: 12px;
    color: var(--s-text-2);
    position: absolute;
    bottom: 0;
    .woocommerce-variation-price & {
      position: relative;
    }
  }
}
.variations {
  font-family: var(--s-heading);
  margin-bottom: 12px;
  th {
    vertical-align: middle;
    padding-right: 10px;
  }
  td {
    vertical-align: middle;
    padding-right: 10px;
    &.woo-variation-items-wrapper {
      padding-top: 0;
    }
  }
  label {
    font-size: 1em;
    margin: 0;
  }
  select {
    margin-right: 10px;
    padding: 0.1em 0.5em;
    min-width: 90px;
  }
}
.wc-item-meta {
  padding-left: 0;
  margin: 0;
  li {
    list-style: none;
  }
  p {
    display: inline-block;
    margin-bottom: 0;
  }
}
.quantity {
  border: 1px solid var(--s-border-1);
  display: flex;
  width: max-content;
  height: 32px;
  border-radius: var(--s-rounded-1);
  .qty {
    width: 40px;
    padding: 0;
    text-align: center;
    border-top: none;
    border-bottom: none;
    border-radius: 0;
    &:focus {
      border-color: var(--s-color-1);
      border-radius: 0;
    }
  }
  > span {
    padding: 0 8px;
    color: var(--s-text-2);
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: 0.3s;
    &:hover {
      background-color: var(--s-bg-2);
      color: var(--s-text-1);
    }
    &:active {
      opacity: 0.4;
    }
  }
}
.woocommerce-breadcrumb {
  display: none;
}

/* LAYOUT */
@media (max-width: $tablet_max) {
  .shop-widgets {
    margin-bottom: var(--s-space);
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    &.active {
      max-height: 400vh;
      overflow: scroll;
      opacity: 1;
      padding-top: 1px;
    }
  }
}
.shop-main {
  margin: 0 auto 40px;
}
.shop-content {
  position: relative;
}
.shop-widgets-toggle {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 20;
  svg {
    pointer-events: none;
    box-sizing: content-box;
    padding: 4px;
    border: 1px solid var(--s-border-1);
    border-radius: var(--s-rounded-1);
  }
  &.active {
    color: #fff;
    svg {
      border-color: var(--s-color-1);
      background-color: var(--s-color-1);
    }
  }
}

/* ARCHIVE */
.woocommerce-result-count {
  display: none;
}
.woocommerce-ordering {
  margin-bottom: 16px;
}
.onsale {
  color: var(--s-bg-1);
  background-color: var(--s-noti);
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 4px 6px 5px;
  font-size: 12px;
  line-height: 1;
  z-index: 1;
  border-radius: 3px;
}
/* LOOP */
.products {
  display: grid;
  padding: 0;
  gap: var(--s-gap);
  grid-template-columns: repeat(2, minmax(0, 1fr));
  font-family: var(--s-heading);
  li {
    list-style: none;
    text-align: center;
    margin-bottom: 20px;
  }
  img {
    width: 100%;
    border-radius: var(--s-rounded-2);
    display: block;
  }
  h2 {
    padding: 8px;
    color: var(--s-text-1);
  }
  .price {
    font-size: 1.1em;
    line-height: 1.4;
    margin: -6px 8px 20px;
    display: block;
    ins {
      padding-bottom: 25px;
    }
    del {
      left: 50%;
      transform: translateX(-50%);
      bottom: 5px;
    }
  }
  .button {
    margin: 12px auto;
  }
}
.added_to_cart {
  display: inline-flex;
  align-items: center;
  padding: 4px 10px;
  margin-top: 6px;
}
.add_to_cart_button,
.line_chat {
  display: inline-block;
  min-height: 38px;
  padding: 8px 12px 6px;
  margin: 12px 0 0;
  svg {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: -4px;
  }
}
.line_chat.loop {
  margin-bottom: 0;
}
.hide_add_to_cart {
  .quantity,
  .single_add_to_cart_button {
    display: none !important;
  }
  .line_chat.single {
    margin-left: 0;
  }
}

/* PAGINATION */
.woocommerce-pagination {
  margin: var(--s-space) 0;
  width: 100%;
  overflow-x: auto;
  font-weight: bold;
  ul {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  li {
    list-style: none;
  }
  span,
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 36px;
    height: 36px;
  }
  .current {
    background-color: var(--s-bg-2);
    border-radius: 36px;
  }
}
/* SINGLE */
.product {
  position: relative;
  .summary {
    padding: var(--s-space) 0;
  }
  > .onsale {
    left: -11px;
  }
}
.flex-viewport {
  img {
    width: 100%;
    border-radius: var(--s-rounded-2);
  }
}
.flex-control-nav {
  padding: 5px 5px 0;
  margin-bottom: 0;
  display: flex;
  gap: 5px;
  justify-content: center;
  width: 100%;
  li {
    list-style: none;
    overflow: hidden;
  }
  img {
    transition: 0.3s;
    opacity: 0.5;
    border-radius: var(--s-rounded-2);
    cursor: pointer;
    &.flex-active {
      opacity: 1;
    }
  }
}
.woocommerce-product-gallery {
  margin: 0 calc(var(--s-space) * -1);
  position: relative;
}
.woocommerce-product-gallery__wrapper {
  margin-bottom: 0;
  line-height: 0;
}

@media (max-width: $tablet_max) {
  .single_add_to_cart_button {
    position: fixed;
    bottom: 0;
    left: 0;
    height: var(--s-woo-foot);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    width: 100%;
    z-index: 900;
    border-radius: var(--s-rounded-2) var(--s-rounded-2) 0 0;
  }
}

.woocommerce-product-details__short-description {
  font-family: var(--s-heading);
}
.product_meta {
  font-size: 0.875em;
  padding-top: 12px;
  font-family: var(--s-heading);
  > span {
    display: block;
  }
}

// TABS
.wc-tabs-wrapper {
  margin: var(--s-space) 0;
  width: 100%;
}
.wc-tabs {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  font-family: var(--s-heading);
  font-weight: var(--s-heading-weight);
  li {
    list-style: none;
    a {
      display: block;
      padding: 0.4em 0.8em;
      color: var(--s-text-2);
      border-bottom: 2px solid var(--s-border-1);
    }
  }
  .active {
    a {
      color: var(--s-color-1);
      border-color: var(--s-color-1);
    }
  }
}

.woocommerce-product-attributes {
  margin-bottom: 0;
  min-width: 200px;
  font-family: var(--s-heading);
  border-top: 1px solid var(--s-border-2);
  tr {
    border-bottom: 1px solid var(--s-border-2);
  }
  th {
    padding: 4px 6px 4px 0;
    font-weight: bold;
  }
  td {
    padding: 4px 0 4px 6px;
  }
  p {
    margin-bottom: 0;
  }
}
.upsells.products {
  display: block;
  > h2 {
    padding: 14px 0 0;
  }
}
.related.products {
  display: block;
  > h2 {
    padding: 14px 0 0;
  }
  @media (max-width: $tablet_max) {
    .products {
      display: flex;
      align-items: top;
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
      padding: 1px 0;
      margin: var(--s-space) 0 0;
      scroll-snap-type: x mandatory;
      flex-wrap: nowrap;
      > li {
        flex: 0 0 40vw;
        width: 40vw;
        min-width: 0;
        scroll-snap-align: start;
      }
      .button {
        display: none;
      }
    }
    .price {
      font-size: 1em;
    }
  }
}
.woocommerce-loop-product__title {
  font-size: 1em;
  white-space: initial;
  margin-bottom: 0;
}

/* CART */
.cart-empty,
.return-to-shop {
  text-align: center;
  margin-bottom: 1.6rem;
}
@media (max-width: $tablet_max) {
  .woocommerce-cart,
  .woocommerce-checkout {
    .site-main {
      padding-bottom: var(--s-woo-foot);
    }
    .site-footer {
      display: none;
    }
  }
  .checkout-button {
    position: fixed;
    bottom: 0;
    right: 0;
    height: var(--s-woo-foot);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    width: 50%;
    z-index: 900;
    border-radius: 0;
  }
  .order-total {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 50%;
    height: var(--s-woo-foot);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 800;
    font-size: 1.1em;
    color: var(--s-color-1);
    background: var(--s-bg-1);
    padding-right: 20px;
    font-size: 1.125em;
    filter: drop-shadow(var(--s-shadow-2));
    th {
      text-align: right;
      padding-right: 6px;
      font-size: 0.8em;
    }
    strong {
      font-weight: var(--s-heading-weight);
    }
    .woocommerce-Price-currencySymbol {
      font-size: 0.8em;
    }
  }
}
.shop_table {
  width: 100%;
  font-family: var(--s-heading);
  margin-bottom: var(--s-space);
  &.cart {
    thead {
      tr {
        border-bottom: 1px solid var(--s-border-2);
      }
    }
    @media (max-width: $tablet_max) {
      th {
        display: none;
      }
    }
  }
  .cart_item {
    position: relative;
  }
  .actions {
    padding: var(--s-gap) 0;
    border-top: 1px solid var(--s-border-2);
    > .button {
      display: none;
    }
  }
  .order {
    border-bottom: 1px solid var(--s-border-2);
  }
  tfoot {
    td {
      text-align: right;
    }
  }
}
td.actions {
  .coupon {
    display: flex;
    width: 100%;
    max-width: 360px;
    .input-text {
      flex: 1;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      width: 40%;
    }
  }
}
.cart-collaterals {
  margin: 16px 0 var(--s-space);
}
.cart_item {
  .variation {
    font-size: 0.875em;
    margin-bottom: 0;
    dt,
    dd {
      display: inline-block;
      margin-bottom: 0;
    }
    p {
      margin: 0;
    }
  }
}
.product-total {
  text-align: right;
}
.product-remove {
  position: absolute;
  top: 6px;
  left: -4px;
  z-index: 1;
  a {
    color: var(--s-text-2);
    background-color: var(--s-bg-1);
    display: flex;
    border-radius: var(--s-rounded-1);
    width: 18px;
    height: 18px;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid var(--s-border-1);
    &:hover {
      background-color: var(--s-noti);
      color: #fff;
    }
  }
}
@media (max-width: $tablet_max) {
  .woocommerce-cart-form__contents {
    .cart_item {
      border-bottom: 1px solid var(--s-border-2);
      display: block;
      padding: 10px 0 50px 102px;
      min-height: 110px;
      width: 100%;
      .product-thumbnail {
        width: 90px;
        position: absolute;
        left: 0;
        top: 10px;
      }
      .product-quantity {
        position: absolute;
        bottom: 10px;
        left: 102px;
      }
      .product-name {
        display: block;
        line-height: var(--heading-line-height);
      }
      .product-price {
        display: block;
        font-size: 0.8em;
        opacity: 0.5;
      }
      .product-subtotal {
        position: absolute;
        right: 10px;
        bottom: 10px;
      }
    }
  }
}
.product-thumbnail {
  img {
    border-radius: var(--s-rounded-1);
  }
}
.cart_totals {
  table {
    table-layout: fixed;
  }
  th {
    min-width: 80px;
  }
  td {
    padding-left: 6px;
  }
}
.woocommerce-shipping-totals {
  td {
    font-size: 0.96em;
  }
}
.woocommerce-shipping-methods {
  padding-left: 0;
  li {
    list-style: none;
    label {
      margin-bottom: 0;
    }
  }
}
.woocommerce-shipping-destination {
  margin-bottom: 0;
}
/* CHECKOUT */
.woocommerce-checkout {
  font-family: var(--s-heading);
  .required {
    color: var(--s-noti);
    text-decoration: none;
  }
}

#customer_details {
  padding: var(--s-space);
  background-color: var(--s-bg-2);
  margin-bottom: 20px;
  border-radius: var(--s-rounded-2);
}
.clear {
  clear: both;
}
.form-row {
  margin-bottom: 1em;
  font-family: var(--s-heading);
  gap: var(--s-gap);
  &.notes {
    margin-bottom: 0;
  }
  em {
    font-size: 13px;
  }
}
.form-row-first {
  width: 50%;
  padding-right: calc(var(--s-gap) / 2);
  float: left;
}
.form-row-last {
  width: 50%;
  float: right;
  padding-left: calc(var(--s-gap) / 2);
}
.form-row-wide {
  width: 100%;
  clear: both;
}
.input-text {
  width: 100%;
  background-color: var(--s-bg-1);
  color: var(--s-text-1);
}
.woocommerce-invalid-required-field {
  input {
    border-color: var(--s-noti);
  }
}
.woocommerce-billing-fields__field-wrapper,
.woocommerce-shipping-fields__field-wrapper {
  display: flex;
  flex-wrap: wrap;
}
body .select2-container {
  .select2-selection--single {
    height: 34px;
    border: 1px solid var(--s-border-1);
    border-radius: var(--s-rounded-1);
    background: var(--s-bg-1);
    .select2-selection__rendered {
      line-height: 34px;
      color: var(--s-text-1);
    }
    .select2-selection__arrow {
      height: 32px;
    }
  }
  .select2-results__option[data-selected='true'] {
    background-color: var(--s-bg-2);
  }
  .select2-results__option--highlighted[data-selected] {
    background: var(--s-color-1);
  }
}
body .select2-dropdown {
  background: var(--s-bg-1);
}
.woocommerce-privacy-policy-text {
  font-size: 0.875em;
}

@media (max-width: $tablet_max) {
  .place-order .button {
    position: fixed;
    bottom: 0;
    left: 50%;
    height: var(--s-woo-foot);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    width: 50%;
    z-index: 900;
    border-radius: 0;
    font-size: 1.125em;
  }
}
#order_review_heading {
  margin-bottom: 0;
  padding: var(--s-gap) var(--s-gap) 0;
  border: 3px solid var(--s-color-1);
  border-bottom: none;
  border-radius: var(--s-rounded-2) var(--s-rounded-2) 0 0;
}
#order_review {
  padding: var(--s-gap);
  border: 3px solid var(--s-color-1);
  border-top: none;
  border-radius: 0 0 var(--s-rounded-2) var(--s-rounded-2);
  margin-bottom: 20px;
}
.woocommerce-checkout-review-order-table {
  .woocommerce-shipping-methods {
    width: max-content;
    max-width: 100%;
    display: block;
    margin-left: auto;
  }
}
.woocommerce-checkout-payment {
  ul {
    padding-left: 0;
    list-style: none;
  }
  .wc_payment_method {
    list-style: none;
    padding-left: 20px;
    position: relative;
    input[type='radio'] {
      position: absolute;
      left: 0;
      top: 6px;
    }
    > label {
      font-size: 1rem;
    }
  }
  label {
    line-height: 1.625;
    cursor: pointer;
  }
  .woocommerce-SavedPaymentMethods {
    li {
      position: relative;
      padding-left: 20px;
    }
  }
  .woocommerce-notice {
    border: 1px solid var(--s-border-1);
    padding: 10px;
  }
  fieldset > p {
    margin-bottom: 0;
  }
}

.woocommerce-shipping-methods {
  padding-left: 0;
  margin: 4px 0 0;
  li {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    line-height: 1.4;
  }
  .shipping_method {
    margin-right: 4px;
  }
}

.woocommerce-checkout-review-order-table {
  .order-total {
    font-weight: bold;
  }
}
// LOADING
.woocommerce-checkout.processing .blockUI.blockOverlay {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" width="60" height="60" style="shape-rendering: auto; display: block; background: transparent;" xmlns:xlink="http://www.w3.org/1999/xlink"><g><circle stroke-linecap="round" fill="none" stroke-dasharray="50.26548245743669 50.26548245743669" stroke="%23666666" stroke-width="8" r="32" cy="50" cx="50"><animateTransform values="0 50 50;360 50 50" keyTimes="0;1" dur="1s" repeatCount="indefinite" type="rotate" attributeName="transform"></animateTransform></circle><g></g></g></svg>') !important;
  background-position: center 50% !important;
  background-repeat: no-repeat !important;
  position: fixed !important;
}

// OMISE
.payment_method_omise label {
  display: inline-flex;
  gap: 10px;
  align-items: center;
}
div.omise-remember-card {
  margin: 0;
  display: flex;
  gap: 6px;
  label {
    margin: 0;
  }
}

/* THANK YOU - ORDER-RECIEVED */
body.woocommerce-order-received {
  .woocommerce-order {
    max-width: 640px;
    margin: 0 auto;
  }
}
.woocommerce-thankyou-order-details {
  border: 2px solid var(--s-color-1);
  border-radius: var(--s-rounded-2);
  padding: var(--s-space);
  margin-bottom: var(--s-space);
  li {
    list-style: none;
  }
}
.woocommerce-order-downloads,
.woocommerce-order-details {
  border: 1px solid var(--s-border-1);
  margin-bottom: var(--s-space);
  border-radius: var(--s-rounded-2);
  h2 {
    padding: var(--s-gap) var(--s-space) 0;
  }
  .order-again {
    padding: var(--s-gap) var(--s-space) 6px;
    border-top: 1px solid var(--s-border-1);
  }
  .shop_table {
    margin: 0;
  }
}
.woocommerce-customer-details {
  border: 1px solid var(--s-border-1);
  margin-bottom: var(--s-space);
  border-radius: var(--s-rounded-2);
  padding: var(--s-gap) var(--s-space) 10px;
  .col2-set {
    margin-bottom: 0;
  }
}
table.order_details {
  th,
  td {
    padding: 0 var(--s-space) 0.5em;
  }
  thead {
    th {
      background-color: var(--s-bg-2);
      padding-top: 0.5em;
    }
  }
  tbody {
    tr:first-child {
      th,
      td {
        padding-top: 0.5em;
      }
    }
  }
  tfoot {
    tr:first-child {
      th,
      td {
        border-top: 1px dashed var(--s-border-1);
        padding-top: 0.5em;
      }
    }
    tr:last-child {
      border-top: 1px solid var(--s-border-1);
      th,
      td {
        padding: 0.6em var(--s-space);
      }
    }
  }
}
address {
  font-style: normal;
}
/* REVIEWS */
.woocommerce-Tabs-panel--reviews {
  margin-top: var(--s-space);
}

.stars {
  margin: 1rem 0;
  a {
    position: relative;
    height: 24px;
    width: 24px;
    text-indent: -999em;
    display: inline-block;
    text-decoration: none;
    color: var(--s-color-1);
    &::before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
      line-height: 1;
      font-family: WooCommerce;
      content: '\e021';
      text-indent: 0;
      font-size: 22px;
    }
    &:hover ~ a::before {
      content: '\e021';
    }
  }
  &:hover a::before {
    content: '\e020';
  }
  &.selected a {
    &.active {
      &::before {
        content: '\e020';
      }
      ~ a::before {
        content: '\e021';
      }
    }
    &:not(.active)::before {
      content: '\e020';
    }
  }
}

.commentlist {
  padding-left: 0;
  li {
    list-style: none;
    display: block;
    padding: 16px 0;
    &.bypostauthor {
      padding: 16px;
    }
  }
  @media (min-width: 768px) {
    .star-rating {
      float: right;
    }
  }
}
.comment_container {
  .avatar {
    width: 48px;
    height: 48px;
    border-radius: 24px;
  }
  @media (min-width: 768px) {
    display: flex;
    gap: 20px;
  }
}
.comment-text {
  display: grid;
  .meta {
    order: 0;
    margin: 8px 0;
  }
  .star-rating {
    order: 1;
  }
  .description {
    order: 2;
  }
}
.star-rating {
  overflow: hidden;
  position: relative;
  display: inline-block;
  margin-bottom: 8px;
  height: 16px;
  width: 80px;
  color: rgba(255, 255, 255, 0);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  background-size: 16px auto;
  > span {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
    background-size: 16px auto;
  }
  .summary & {
    margin-bottom: 0;
  }
}
.comment-reply-title {
  font-family: var(--s-heading);
  font-size: 1.2em;
  margin-bottom: 1rem;
}
// MY ACCOUNT
.s-myaccount {
  text-align: center;
  margin-bottom: var(--s-space);
  img {
    min-width: 80px;
    width: 80px;
    height: 80px;
    border-radius: 200px;
    object-fit: cover;
  }
  .name {
    font-size: 1.25em;
    margin: 0;
  }
  .email {
    font-size: 0.9375em;
    font-weight: normal;
    color: var(--s-text-2);
    margin: 1px 0 0;
  }
}
.s-logout {
  margin-top: 20px;
  text-align: center;
}
.shop-announcement {
  margin: 0 auto var(--s-space);
  padding: 16px;
  border: 2px solid var(--s-color-1);
  border-radius: var(--s-rounded-2);
  max-width: 710px;
  p {
    margin: 0;
  }
}
#customer_login {
  > div {
    margin-bottom: var(--s-space);
  }
}
.woocommerce-LostPassword {
  margin-bottom: 0;
}

.woocommerce-MyAccount-navigation {
  margin: 0 calc(var(--s-space) * -1) var(--s-space);
  padding: 0 var(--s-space) 10px;
  overflow: auto;
  ul {
    padding: 4px;
    margin: 0 auto;
    display: flex;
    white-space: nowrap;
    width: max-content;
    min-width: 100%;
    background-color: var(--s-bg-2);
    border-radius: var(--s-rounded-2);
    li {
      list-style: none;
      flex-grow: 1;
    }
  }
  a {
    color: var(--s-text-1);
    font-size: 0.9375em;
    padding: 0.5em;
    white-space: nowrap;
    display: block;
    font-weight: normal;
    text-align: center;
  }
  .is-active {
    a {
      color: var(--s-color-1);
      font-weight: bold;
      padding-left: 0.75em;
      padding-right: 0.75em;
      background-color: var(--s-bg-1);
      border-radius: var(--s-rounded-1);
    }
  }
  @media (min-width: 768px) {
    text-align: center;
    margin: 0 auto var(--s-space);
    max-width: 750px;
  }
}
.woocommerce-MyAccount-content {
  font-family: var(--s-heading);
  position: relative;
  max-width: 710px;
  margin: 0 auto;
  h2 {
    font-size: 1.5em;
  }
  fieldset {
    width: 100%;
    border: 1px solid var(--s-border-1);
    padding: var(--s-gap);
  }
  legend {
    font-size: 1em;
  }
  strong {
    font-weight: var(--s-heading-weight);
  }
}
.woocommerce-orders-table__cell-order-number {
  a {
    border: 1px solid;
    padding: 0.25em 0.5em;
    display: inline-block;
    line-height: 1.3;
    border-radius: var(--s-rounded-1);
    font-size: 0.9375em;
  }
}
.woocommerce-Address-title {
  display: flex;
  gap: var(--s-gap);
  align-items: center;
  .edit {
    border: 1px solid var(--s-text-2);
    color: var(--s-text-2);
    padding: 0.3em 0.5em;
    font-size: 0.8em;
    line-height: 1;
    margin-bottom: 1rem;
    border-radius: var(--s-rounded-1);
    &:hover {
      background: var(--s-color-1);
      color: #fff;
      border-color: var(--s-color-1);
    }
  }
}
.user-info {
  h2 {
    margin-bottom: 4px;
  }
}
.woocommerce-MyAccount-navigation-link--customer-logout {
  display: none;
}

/* ORDER */
.woocommerce-orders-table__cell-order-actions {
  .button {
    padding: 0.25em 0.8em;
    margin: 0 0 6px 6px;
    white-space: nowrap;
  }
}
@media (max-width: $tablet_max) {
  .woocommerce-orders-table__header {
    display: none;
  }
  .woocommerce-orders-table__row {
    display: block;
    position: relative;
    padding: 12px 130px 12px 0;
    border-bottom: 1px solid var(--s-bg-1);
    width: 100%;
    &:last-child {
      border-bottom: none;
    }
    td {
      display: block;
      font-size: 0.875em;
      width: 110px;
      white-space: nowrap;
    }
  }
  .woocommerce-orders-table__cell-order-actions {
    position: absolute;
    right: 0;
    top: 12px;
    a {
      display: block;
      margin-bottom: 10px;
    }
  }
}
// CART
.site-cart {
  height: 24px;
  position: relative;
}
.cart-count {
  position: absolute;
  font-size: 10px;
  padding: 2px 4px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 10px;
  text-align: center;
  border-radius: 50px;
  background-color: var(--s-noti);
  min-width: 14px;
  min-height: 14px;
  top: -2px;
  right: -4px;
  color: #fff;
}

// ADD TO CART
.plant-add-to-line {
  padding: 8px 20px;
  color: #fff;
  background: #0db51e;
  border-radius: 5px;
  font-weight: bold;
  svg {
    vertical-align: middle;
    margin-right: 10px;
    fill: #fff;
  }
}
