// HIDE SMART SLIDER ACTIVATION
#n2-ss-activate-license-banner,
.n2_modal--visible .n2_new_project__box:last-child {
  display: none;
}

// HIDE SMART SLIDER UPDATE
#nextend-smart-slider3-pro-update .update-message p {
  &:after {
    content: 'wait for monthly update of Plant theme.';
    display: inline-block;
    margin-left: -4px;
    background-color: #06c0c0;
    padding: 1px 5px;
    color: #fff;
    html:lang(th) & {
      margin-left: 0;
      content: 'รอการอัปเดตธีม Plant รายเดือน';
    }
  }
  a:last-child {
    display: none;
  }
}
